///
/// @group Honkdex
/// @access private
/// @author Keith Choison <keith@tize.io>
/// @since 1.2.0
///

@use 'mixins/flex';
@use 'mixins/position';
@use 'mixins/spacing';

.content {
  @include flex.col-stretch;
  row-gap: 12px;
}

.buildInfo {
  z-index: 6;
}

.battleInfo {
  @include position.sticky($x: 12px, $t: 16px);
  @include spacing.mx(12px);
  z-index: 5;
}

// .playerCalc {
//   @include spacing.mt(12px);
// }

.fieldCalc {
  max-width: 400px;
  @include spacing.mx-auto;
  @include spacing.my(4px);
}

// .opponentCalc {
//   @include spacing.mt(16px);
// }
